In [ ]:
# The following Notebook is used for Visualization of Queries in  Chinnok Analysis Using SQL Project